Source: ros-lyrical-rtsp-image-transport
Section: misc
Priority: optional
Maintainer: "Timo Röhling" <timo.roehling@fkie.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-lyrical-live555-vendor, ros-lyrical-rclcpp, ros-one-cv-bridge, ros-one-image-transport, ros-one-pluginlib, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/rtsp_image_transport/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rtsp-image-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-lyrical-live555-vendor, ros-lyrical-rclcpp, ros-one-cv-bridge, ros-one-image-transport, ros-one-pluginlib, ros-lyrical-ros-workspace
Description: Transmit video streams with the Real-Time Streaming Protocol
